<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Wallets</div>
    <div class="panel-body">
      <span class="pull-right">
        <%= link_to 'New Wallet', new_wallet_path, :class => "btn btn-primary" %>
      </span>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Public address</th>
          <th>Generator ID</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @wallets.each do |wallet| %>
          <tr>
            <td><%= wallet.public_address %></td>
            <td><%= wallet.project.id %></td>
            <td><%= link_to 'Show', wallet %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>