<% if notice %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p id="notice"><%= notice %></p>
    </div>
    <br/>
<% end %>
<br/>
<div class="panel panel-default">
  <div class="panel-heading"> Grants</div>
  <div class="panel-body">
    <div class="pull-right">
      <table id="grantsTable" class="options-table">
        <tr>
          <th>Month</th>
          <td>
            <label>
              <select id="monthSelector" class="form-control">
                <% @months.each do |granting_month| %>
                    <option name="<%= granting_month %>">
                      <%= Date::MONTHNAMES[granting_month.month] %> - <%= granting_month.year %>
                    </option>
                <% end %>
              </select>
            </label>
          </td>
          <th>Type</th>
          <td>
            <label>
              <select id="typeSelector" class="form-control">
                <option value="AGRT">Adjustment Grants</option>
                <option value="PGRT">Periodic Grants</option>
                <option value="ALL">All Grants</option>
              </select>
            </label>
          </td>
          <td>
            <button id="updateButton" class="btn btn-primary btn-sm">Update</button>
          </td>
        </tr>
      </table>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>GUID</th>
        <th>Claimant ID</th>
        <th>Generator ID</th>
        <th>Receiver wallet</th>
        <th>Amount</th>
        <th>Tag</th>
      </tr>
      </thead>
      <tbody id="data">

      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $("#updateButton").click(function () {
      $.ajax({
        url: "/grants",
        dataType: 'json',
        data: {
          filter_date: $("#monthSelector").children(":selected").val(),
          grant_type: $("#typeSelector").children(":selected").val()
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log("AJAX Error: " + textStatus);
        },
        success: function (data, textStatus, jqXHR) {
          $("#data").empty();
          fillTable(data);
        }

      });
    });
    function fillTable(grants) {
      grants.forEach(function(grant) {
        var dom = "<tr>" +
            td(grant.guid) +
            td(grant.claimant_id) +
            td(grant.generator_id) +
            td(grant.wallet) +
            td(grant.amount) +
            td(grant.type_tag) +
            "</tr>";
        $("#data").append(dom);
      });
    }

    function td(value) {
      return "<td>" + value +"</td>";
    }
</script>
